<div class="jumbotron">
    <h1>C# REST API that supports the following operations.</h1> 
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add City </h2>
        <p>adds city name, state (i.e. geographic sub-region), country, tourist rating (1-5), date established and estimated population. Adds record to local SQL data store and generates unique city id</p>

    </div>
    <div class="col-md-4">
        <h2>Update city</h2>
        <p>update rating, date established and estimated population by city id.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete city </h2>
        <p>
            delete city by city id.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Search city  </h2>
        <p>
            search by city name, and returns the city id, name, state (i.e. geographic sub-region), count
            ry, tourist rating (1-5), date established, estimated population, 2 digit country code, 3 digit country code, currency code and weather for the city. If there are multiple matches, this information is returned for all matches. If the city is not stored locally no results need be returned. The APIs above should be used to provide any information not stored locally.
        </p>

    </div>
</div>
